@import "tailwindcss";

.backgroundAuth {
  background-color: #222222;
  background-size: cover;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slider-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-image: url("../../assets/backgrounds/backgroundLogin.png");
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: left 0.5s ease-in-out;
}

.forms-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.form {
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: transparent;
}

.right-active .slider-panel {
  left: 60%;
}

.right-active .forms-container {
  transform: translateX(-40%);
}
